In [1]:
import pandas as pd

# Load the dataset
df = pd.read_csv('data/iris.csv')
df.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [2]:
# a. Subset rows where petal_length > 1.5 and species is "setosa"
subset = df[(df['petal_length'] > 1.5) & (df['species'] == 'setosa')]
print("a. Subset result:\n", subset)

a. Subset result:
     sepal_length  sepal_width  petal_length  petal_width species
5            5.4          3.9           1.7          0.4  setosa
11           4.8          3.4           1.6          0.2  setosa
18           5.7          3.8           1.7          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
24           4.8          3.4           1.9          0.2  setosa
25           5.0          3.0           1.6          0.2  setosa
26           5.0          3.4           1.6          0.4  setosa
29           4.7          3.2           1.6          0.2  setosa
30           4.8          3.1           1.6          0.2  setosa
43           5.0          3.5           1.6          0.6  setosa
44           5.1          3.8           1.9          0.4  setosa
46           5.1          3.8           1.6          0.2  setosa

In [3]:
# b. Merge the Iris dataset with a custom species info table (e.g., color or habitat)
species_info = pd.DataFrame({
    'species': ['setosa', 'versicolor', 'virginica'],
    'color': ['Blue', 'Red', 'Purple'],
    'habitat': ['Garden', 'Field', 'Wetland']
})

In [4]:
merged_df = pd.merge(df, species_info, on='species', how='left')
print("\nb. Merged Data:\n", merged_df.head())

b. Merged Data:
    sepal_length  sepal_width  petal_length  petal_width species color habitat
0           5.1          3.5           1.4          0.2  setosa  Blue  Garden
1           4.9          3.0           1.4          0.2  setosa  Blue  Garden
2           4.7          3.2           1.3          0.2  setosa  Blue  Garden
3           4.6          3.1           1.5          0.2  setosa  Blue  Garden
4           5.0          3.6           1.4          0.2  setosa  Blue  Garden

In [5]:
# c. Sort flowers by sepal_width and then by sepal_length
sorted_df = df.sort_values(by=['sepal_width', 'sepal_length'])
print("\nc. Sorted Data:\n", sorted_df.head())

c. Sorted Data:
      sepal_length  sepal_width  petal_length  petal_width     species
60            5.0          2.0           3.5          1.0  versicolor
62            6.0          2.2           4.0          1.0  versicolor
119           6.0          2.2           5.0          1.5   virginica
68            6.2          2.2           4.5          1.5  versicolor
41            4.5          2.3           1.3          0.3      setosa

In [6]:
# d. Transpose the datasetâ€™s first 5 rows
transposed = df.head(5).transpose()
print("\nd. Transposed first 5 rows:\n", transposed)

d. Transposed first 5 rows:
                    0       1       2       3       4
sepal_length     5.1     4.9     4.7     4.6     5.0
sepal_width      3.5     3.0     3.2     3.1     3.6
petal_length     1.4     1.4     1.3     1.5     1.4
petal_width      0.2     0.2     0.2     0.2     0.2
species       setosa  setosa  setosa  setosa  setosa

In [7]:
# e. Reshape using melt() and pivot()
melted = pd.melt(df, id_vars=['species'], var_name='feature', value_name='value')
print("\ne. Melted format:\n", melted.head())

e. Melted format:
   species       feature  value
0  setosa  sepal_length    5.1
1  setosa  sepal_length    4.9
2  setosa  sepal_length    4.7
3  setosa  sepal_length    4.6
4  setosa  sepal_length    5.0

In [8]:
pivoted = melted.pivot_table(index=['species'], columns='feature', values='value', aggfunc='first').reset_index()
print("\nPivoted (wide) format:\n", pivoted.head())

Pivoted (wide) format:
 feature     species  petal_length  petal_width  sepal_length  sepal_width
0            setosa           1.4          0.2           5.1          3.5
1        versicolor           4.7          1.4           7.0          3.2
2         virginica           6.0          2.5           6.3          3.3