In [18]:
import pandas as pd

# Load the dataset
df = pd.read_csv('data/iris.csv')
df['id'] = df.index  
df.head(5)

   sepal_length  sepal_width  petal_length  petal_width species  id
0           5.1          3.5           1.4          0.2  setosa   0
1           4.9          3.0           1.4          0.2  setosa   1
2           4.7          3.2           1.3          0.2  setosa   2
3           4.6          3.1           1.5          0.2  setosa   3
4           5.0          3.6           1.4          0.2  setosa   4

In [19]:
# a. Filter rows
a = df[(df['petal_length'] > 1.5) & (df['species'] == 'setosa')]
print("a.\n", a)

a.
     sepal_length  sepal_width  petal_length  petal_width species  id
5            5.4          3.9           1.7          0.4  setosa   5
11           4.8          3.4           1.6          0.2  setosa  11
18           5.7          3.8           1.7          0.3  setosa  18
20           5.4          3.4           1.7          0.2  setosa  20
23           5.1          3.3           1.7          0.5  setosa  23
24           4.8          3.4           1.9          0.2  setosa  24
25           5.0          3.0           1.6          0.2  setosa  25
26           5.0          3.4           1.6          0.4  setosa  26
29           4.7          3.2           1.6          0.2  setosa  29
30           4.8          3.1           1.6          0.2  setosa  30
43           5.0          3.5           1.6          0.6  setosa  43
44           5.1          3.8           1.9          0.4  setosa  44
46           5.1          3.8           1.6          0.2  setosa  46

In [20]:
# b. Merge with species info
info = pd.DataFrame({
    'species': ['setosa', 'versicolor', 'virginica'],
    'color': ['Blue', 'Red', 'Purple']
})

In [21]:
b = pd.merge(df, info, on='species')
print("\nb.\n", b.head())

b.
    sepal_length  sepal_width  petal_length  petal_width species  id color
0           5.1          3.5           1.4          0.2  setosa   0  Blue
1           4.9          3.0           1.4          0.2  setosa   1  Blue
2           4.7          3.2           1.3          0.2  setosa   2  Blue
3           4.6          3.1           1.5          0.2  setosa   3  Blue
4           5.0          3.6           1.4          0.2  setosa   4  Blue

In [22]:
# c. Sort by sepal_width, then sepal_length
c = df.sort_values(by=['sepal_width', 'sepal_length'])
print("\nc.\n", c.head())

c.
      sepal_length  sepal_width  petal_length  petal_width     species   id
60            5.0          2.0           3.5          1.0  versicolor   60
62            6.0          2.2           4.0          1.0  versicolor   62
119           6.0          2.2           5.0          1.5   virginica  119
68            6.2          2.2           4.5          1.5  versicolor   68
41            4.5          2.3           1.3          0.3      setosa   41

In [23]:
# d. Transpose first 5 rows
d = df.head(5).transpose()
print("\nd.\n", d)

d.
                    0       1       2       3       4
sepal_length     5.1     4.9     4.7     4.6     5.0
sepal_width      3.5     3.0     3.2     3.1     3.6
petal_length     1.4     1.4     1.3     1.5     1.4
petal_width      0.2     0.2     0.2     0.2     0.2
species       setosa  setosa  setosa  setosa  setosa
id                 0       1       2       3       4

In [24]:
# e. Melt and pivot
melted = pd.melt(df, id_vars=['id', 'species'], var_name='feature', value_name='value')

# Pivot to wide format
pivoted = melted.pivot(index='id', columns='feature', values='value')

In [25]:
print("\ne.\nMelted:\n", melted.head())
print("Pivoted:\n", pivoted.head())

e.
Melted:
    id species       feature  value
0   0  setosa  sepal_length    5.1
1   1  setosa  sepal_length    4.9
2   2  setosa  sepal_length    4.7
3   3  setosa  sepal_length    4.6
4   4  setosa  sepal_length    5.0
Pivoted:
 feature  petal_length  petal_width  sepal_length  sepal_width
id
0                 1.4          0.2           5.1          3.5
1                 1.4          0.2           4.9          3.0
2                 1.3          0.2           4.7          3.2
3                 1.5          0.2           4.6          3.1
4                 1.4          0.2           5.0          3.6